.cfde__site-shell {
    --cfde-blue: #2C5D8B;
    --cfde-lite-blue: #4681b9;
    --nav-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    --foot-shadow: inset rgba(50, 50, 93, 1) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    --hamburger-size: clamp(14px, 10vmin, 26px);

    padding: 70px 0 0 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.cfde__site-shell, 
.cfde__site-shell *, 
.cfde__site-shell *::after,
.cfde__site-shell *::before{
    box-sizing: border-box;
}

.cfde__site-shell #site-header{
    flex: 0 0 auto;
    width: 100%;
    min-width: 100%;
    background: none;
    position: fixed;
    top: 0;
    z-index: 999;
    padding: 5px 5px 0 5px;
    background: rgba(255,255,255,.9);
    backdrop-filter: blur(5px);

    .nav {
        display: flex;
        height: 60px;
        border-radius: 40px;
        box-shadow: var(--nav-shadow);
        position: relative;
    }
    .nav-left,
    .nav-title,
    .nav-right{
        display:flex;
        padding: 15px;
    }
    .nav-left{
        gap: 15px;
    }
    .nav-title{
        background: var(--cfde-blue);
        text-decoration: none;
    }
    .nav-title:hover{
        background: var(--cfde-lite-blue);
    }
    .nav-menu{
        padding: 0 0 0 15px;
        display: flex;
        width: 100%;
        flex: 1;
        position: relative;
    }
    .nav img {
        height: 30px;
        width: auto;
    }

    .nav-hamburger {
        align-self: center;
        display: none;
    }
    #hamburger-toggle {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    }
    #hamburger {
    display: block;
    padding: 0.5rem;
    cursor: pointer;
    width: var(--hamburger-size);
    height: var(--hamburger-size);
    box-sizing: content-box;
    transition: transform 0.2s ease;
    }
    #hamburger .slice {
    --slice-height: 3px;
    display: block;
    position: relative;
    width: 100%;
    height: var(--slice-height, 2px);
    border-radius: var(--slice-height);
    transition: all 0.2s ease;
    background-color: var(--cfde-blue);
    opacity: 90%;
    }
    #hamburger .slice {
    margin-top: 22%; /* Fallback to produce something hamburger-ish if calc is not available */
    margin-top: calc(33% - var(--slice-height));
    top: calc((33% - var(--slice-height)) / -2);
    }

    .nav-hamburger:has(#hamburger-toggle:checked) + .menu-wrapper {
    display:flex;
    }
    #hamburger-toggle:checked ~ #hamburger .slice:nth-child(1) {
    top: calc(50% - 33% + var(--slice-height) / 2);
    transform: rotate(45deg);
    }
    #hamburger-toggle:checked ~ #hamburger .slice:nth-child(2) {
    opacity: 0;
    }
    #hamburger-toggle:checked ~ #hamburger .slice:nth-child(3) {
    top: calc(-50% + var(--slice-height) / 2);
    transform: rotate(-45deg);
    }

    .menu-wrapper{
        display:flex;
        width: 100%;
        flex: 1;
        justify-content: space-between;
    }
    .main-menu{
        display: flex;
        width: 100%;
        flex: 1;
        align-items: center;
        height: 100%;
    }
    .top-menu{
        display: flex;
        width: 100%;
        flex: 1;
        align-items: center;
        justify-content: flex-end;
    }
    .title-group{
        color: white;
        font-weight: bold;
        display: flex;
        align-items: center;
    }
    .title-cfde{
        transform: rotate(-90deg);
        transform-origin: center;
        font-size: .7em;
        line-height: .7em;
        margin: -.7em;
    }
    .title-name{
        line-height: 1em;
    }

    .menu-item-wrapper {
        position: relative;
        height: 100%;
    }
    .submenu {
        position: absolute;
        top: calc(100%);
        right: 0;
        padding: 10px 15px 15px;
        border-radius: 0 0 10px 10px;
        width: max-content;
        display: none;
        flex-direction: column;
        gap: 0;
        background: var(--cfde-blue);
        backdrop-filter: blur(5px);
        box-shadow: var(--nav-shadow);
    }
    .menu-item-wrapper:hover>.submenu{
        display: flex;
    }
    .menu-item{
        display: flex;
        align-items: center;
        font-weight: bold;
        padding: 10px;
        height: 100%;
        white-space: nowrap;
    }
    .menu-item svg{
        height: 1em;
        width: autp;
        margin: 0 3px 0 0;
        object-fit: contain;

    }
    .menu-item-wrapper:hover .menu-item,
    .menu-item-wrapper.active .menu-item,
    .menu-item-wrapper:has(.submenu-item.active) .menu-item{
        background: var(--cfde-blue);
        color:white !important;
    }
    .menu-item,
    .submenu-item{
        cursor: pointer;
        font-size: 1em;
        color: var(--cfde-blue) !important;
    }
    .submenu-item{
        color: white !important;
        padding: 5px;
    }
    .top-menu .menu-item{
        font-size: 1em;
        font-weight: normal;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
    }
    .top-menu .menu-item:hover{
        border-top: 5px solid var(--cfde-blue);
        border-bottom: 5px solid transparent;
    }
    .menu-item-wrapper:has(.submenu)>.menu-item::after {
        content: "";
        margin: 0 0 0 3px;
        width: 0;
        height: 0;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-top: 6px solid var(--cfde-blue);

        transform-origin: 50% 66.66%;

        animation: spin 2s linear infinite;
    }
    .menu-item-wrapper:hover:has(.submenu)>.menu-item::after,
    .menu-item-wrapper.active:has(.submenu)>.menu-item::after,
    .menu-item-wrapper:has(.submenu-item.active)>.menu-item::after {
        border-top-color: white;
    }
    a.menu-item,
    a.submenu-item{
        text-decoration: none;
    }
    a.submenu-item:visited{
        color: white;
    }
    a.submenu-item:hover,
    a.submenu-item.active{
        text-decoration: underline;
    }

    .hero-title{
        font-size: 2.5em; 
        font-weight: bold;
        line-height: 1em; 
        letter-spacing: -.02em;
    }
    .hero-body{
        font-size: 1.1em; 
        line-height: 1.2em;
    }

    @media only screen and (max-width: 1100px) {
        .site-header:has(#hamburger-toggle:checked){
            height:100vh;
        }
        .nav:has(#hamburger-toggle:checked) {
            height: 60px;
            background: rgba(255,255,255);
            backdrop-filter: none;
            border-radius: 40px 40px 0 0;
        }
        .nav-menu{
            justify-content: flex-end;
        }
        .nav-hamburger {
            display: flex;
        }
        .menu-wrapper {
            position: absolute;
            top: 100%;
            right: -60px;
            padding: 20px;
            flex-direction: column-reverse;
            background: white;
            border-radius: 0 0 40px 40px;
            width: auto;
            min-width: calc(100vw - 10px);
            box-shadow: var(--nav-shadow);
            max-height: calc(100vh - 70px);
            overflow-y: scroll;
            display:none;
        }
        .main-menu{
            flex-direction: column;
            align-items: flex-start;
            flex: auto;
        }
        .top-menu{
            flex-direction: column;
            align-items: flex-start;
            flex: auto;
            width: 100%;
        }
        .submenu {
            display: flex;
            position: relative;
            background: white;
            box-shadow: none;
            padding: 5px 20px;
            width: 100%;
        }
        .menu-item-wrapper {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        .top-menu .menu-item{
            border: 0;
            width: 100%;
        }
        .top-menu .menu-item:hover{
            border: 0;
        }
        .menu-item{
            padding:5px;
        }
        .menu-item-wrapper:hover .menu-item,
        .menu-item-wrapper.active .menu-item,
        .menu-item-wrapper:has(.submenu-item.active) .menu-item{
            background: white;
            color:var(--cfde-blue);
        }
        .menu-item-wrapper:has(.submenu)>.menu-item::after{
            display: none;
        }

        a.menu-item,
        a.submenu-item{
            color: var(--cfde-blue);
            text-decoration: none;
        }
        a.menu-item,
        a.submenu-item:visited{
            color: var(--cfde-blue);
        }
        a.menu-item,
        a.submenu-item:hover{
            color: var(--cfde-lite-blue);
        }

        .hero-title{
            font-size: 1.8em; 
        }
        .hero-body{
            font-size: 1em; 
        }
    }
}

.cfde__site-shell #site-footer{
    flex: 0 0 auto;
    width: 100%;
    min-width: 100vw;
    background: var(--cfde-blue);
    padding: 50px;
    color: white;
    font-size: .9em;

    .footer-container{
        display:flex;
        flex-direction: column;
        gap:40px; 
        max-width: 1200px; 
        margin: 0 auto;
    }
    .footer-nav{
        display:flex;
        gap: 40px;
    }
    .footer-menu{
        display: flex;
        flex-wrap: nowrap;
        gap: 20px;
    }
    .footer-menu>*{
        flex: 1;
        min-width: 125px;
    }
    .footer-menu a,
    .footer-menu a:visited{
        color: white !important;
        text-decoration: none;
    }
    .footer-menu a:hover{
        color: white;
    }
    .footer-menu a[href]:hover{
        color: white;
        text-decoration: underline;
        cursor: pointer;
    }
    .footer-inset{
        display:flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        background: white;
        padding: 20px 40px;
        color: black;
        border-radius: 50px;
        box-shadow: var(--foot-shadow);
    }

    @media only screen and (max-width: 1100px) {
        .footer-nav{
            flex-direction: column;
        }
        .footer-menu{
            /*flex-direction: column;*/
            flex-wrap: wrap;
        }
        .footer-inset{
            flex-direction: column;
            align-items: center;
        }
    }
}

/*
#site-header, #site-footer{
    flex: 0 0 auto;
    width: 100%;
    min-width: 100vw;
}
#site-header{
    background: none;
    position: fixed;
    top: 0;
    z-index: 999;
    padding: 5px 5px 0 5px;
    background: rgba(255,255,255,.9);
    backdrop-filter: blur(5px);
}

#site-footer{
    background: var(--cfde-blue);
    padding: 50px;
    color: white;
    font-size: .9em;
}
*/



/*
.section {
    display: flex;
    flex-direction: column;
    background: #eee;
    min-height: 100px;
    width: 100%;
    border-radius: 20px;
    padding: 20px;
}

a,
a:visited{
    color:var(--cfde-blue);
    text-decoration: none;
}
a:hover{
    color:var(--cfde-lite-blue);
}
*/
/* add 'external link' icon to links where target="_blank" and dont contain images */
/*
a[target="_blank"]:not(:has(img))::after {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: text-top;
    background: var(--cfde-blue);

    -webkit-mask-image: url("./images/icon-external.svg");
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;

    mask-image: url("./images/icon-external.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
}

button{
    background: var(--cfde-blue);
    color: white;
    border: 0;
    font-size: 1em;
    cursor:pointer;
}
button:hover{
    background: var(--cfde-lite-blue)
}
button,
input,
select{
    border: 1px solid #aaa;
    border-radius: .5em;
    padding: .5em .8em;
}
select:hover{
    background: var(--cfde-lite-blue);
    cursor: pointer;
    color:white;
}

button.lg,
input.lg,
select.lg{
    font-size: 1.2em;
}
button.sm,
input.sm,
select.sm{
    font-size: .8em;
}
input[type="checkbox"],
input[type="radio"]{
    accent-color: var(--cfde-blue);
    margin:0;
}
fieldset{
    border:0;
    margin:0;
    padding:0;
    padding-block: 0;
    padding-inline: 0;
    margin-inline: 0;
}
input:disabled,
button:disabled,
select:disabled{
    cursor: not-allowed;
    accent-color: #eee;
    background: #eee;
    color:#aaa;
}


.bold{
    font-weight: bold;
}
.no-events{
    pointer-events: none;
}
.yes-events{
    pointer-events: all;
}
    */